/* CSS declarations go here */
body {
    position: relative;
    padding-top: 40px;
}


#modal-divs {
  text-align: center;
}

.modal-backdrop {
  z-index: 1029;
}

.modal-legend {
  margin-bottom: 5px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.nav .icon-remove-circle {
  float: right;
  margin-top: 2px;
  margin-right: -20px;
  opacity: .25;
}

.container-fluid {
     padding-left: 0px;
}

.content {
    padding-top: 20px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin-top: 5px;
}
.fileUpload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.background {
    fill: none;
    stroke: #000;
    stroke-width: 0.25;
}

line {
    stroke: #000;
    stroke-width: 0.25;
}

circle.active {
    fill-opacity: 1;
}

circle {
    fill-opacity: 0;
}

text.active {
    fill: red;
}

div.tooltip {
  position: absolute;
  text-align: center;
  /*height: 25px;*/
  padding: 5px;
  /*padding-top: 9px;*/
  padding-bottom: 2px;
  font: 14px sans-serif;
  color: #fff;
  background: #123;
  border-radius: 5px;
  pointer-events: none;
}

path {
  stroke: steelblue;
  stroke-width: 1.5;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}



/*TEST*/
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      color: #5a5a5a;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */


    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }

    .marketing {
        padding-bottom: 40px;
    }



footer {
    padding-top: 60px;
}