<template name="landing">
  <!-- Subhead
       ================================================== -->
  <div class="container">
    <div class="row">
      <div class="span8 offset2">
        <div id="myCarousel" class="carousel slide" style="margin:20px">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <img src="matrix.png">
              <div class="carousel-caption">
                <h4>SensA: Sensitivity Analysis</h4>
                <p>
                  Use SensA to compute local, global and
                  time-dependent sensitivities of your model with one
                  simple click. Comprehensive and interactive
                  visualisation will help you with the interpretation
                  of usually complex results.
                </p>
              </div>
            </div>
            <div class="item">
              <img src="timedep.png">
              <div class="carousel-caption">
                <h4>Time-Varying Sensitivities</h4>
                <p>
                  Calculation of sensitivities that change with time
                  can be a tedious task. SensA offers a ready made
                  solution for this challenge. Try it!
                </p>
              </div>
            </div>
            <div class="item">
              <img src="export.png">
              <div class="carousel-caption">
                <h4>Export your Data</h4>
                <p>
                  Easily export your computed data in table-format if
                  you wish to further process it or directly download
                  the high-quality pictures we generate for you.
                </p>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

      </div>
    </div>
    <div class="row" style="margin-bottom: 60px;">
      {{> register}}
    </div>
  </div>
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="span4">
        <img src="sbml-logo-70.jpg">
        <h2>Import and Simulate</h2>
        <p>
          Upload as many SBML models as you like, they are stored in
          your account and previous simulations and analysis can
          always be found later. If you don't want that, you can
          delete them any time. you can also simulate and plot time
          course data to see whether everything works as expected.
        </p>
        <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
      </div><!-- /.span4 -->
      <div class="span4">
        <img src="network.png">
        <h2>Standard Analysis</h2>
        <p>
          Perform standard metabolic control analyses routines to
          find important parameters and sensitive species. This
          helps to understand the model and to finetune its
          behaviour. Our visualisation helps to find patterns in the
          dependencies in the model and you can always export the
          data returned by the analysis.
        </p>
        <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
      </div><!-- /.span4 -->
      <div class="span4">
        <img src="dynamic.png">
        <h2>Analyse dynamics</h2>
        <p>
          In many cases - like signalling - the dynamics of the
          model are very important. And the influence of parameters
          and initial conditions on the dynamics are difficult to
          find. Use our implementation of time dependent response
          coefficients to solve this problem.
        </p>
        <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
      </div><!-- /.span4 -->
    </div><!-- /.row -->
    {{> footer}}
  </div>

</template>

<template name="footer">
  <footer>
    <img src="tbp_logo.png" class="logo pull-right" alt="Theoretial Biophysics Logo" />
    <img src="husiegel_bw.jpg" class="logo pull-right" alt="HU Logo" />

    <p>
        Please cite: 
        <a href="http://bioinformatics.oxfordjournals.org/content/early/2014/06/30/bioinformatics.btu378">
        Floettmann, M. <i>et al.</i> (2014) SensA: web-based sensitivity analysis of SBML models. Bioinformatics, <b>30</b>, <i>2830-2831</i></a>
    </p>
    <p>&copy;
        2015 
        <a href="https://www2.hu-berlin.de/biologie/theorybp/">Theoretical Biophysics</a> 
        &middot; 
        <a href="http://www.hu-berlin.de/">Humboldt-Universität zu Berlin</a>
    </p>
  </footer>
</template>


<template name="register">

  <div class="span4 offset4">
    <form id="register-form">
      <fieldset>
        <legend>Get started</legend>
        <a class="btn btn-large btn-block btn-success trial_button">Without Registration</a>

        <div style="height: 1px; background-color: #e5e5e5; text-align: center; margin: 40px 0px 40px 0px">
          <span style="background-color: white; position: relative; top: -0.75em; padding: 10px 10px 10px 10px; font-family: Georgia,serif; font-style: italic;">
            or
          </span>
        </div>

        <h4 class="error" style="color:red;">{{errorMessage}}</h4>
        <!-- <label>Email</label> -->
        <input class="span4" type="email" id="account-email" placeholder="Email" required>
        <!-- <label>Password</label> -->
        <input class="span4" type="password" id="account-password" placeholder="Password" required pattern=".{6,12}" maxLength="12">
        <button type="submit" class="btn btn-block btn-primary" id="sign_up_button">Register</button>
        <button type="submit" class="btn btn-block btn-info" id="log_in_button">Log in</button>
      </fieldset>
    </form>

    <a href="#registerModal" data-toggle="modal" style="display:block;text-align:center;width:100%;">Why register?</a>
    {{> registerModalContainer}}

  </div>
</template>

<template name="registerModalContainer">
  <!-- Modal -->
  <div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    {{> registerModalInner}}
  </div>
</template>

<template name="registerModalInner">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Why register?</h3>
    </div>
    <div class="modal-body">
      <h4>Registration</h4>
      <p>
        If you want to create your personal space within <i>SensA</i>, where you can re-use your models, analysis or pictures, you will need to create an account. If you choose to do so, we will store your models and data for you, so that you can come back to your personalized area and access them at any time. Just type in an Email, choose a Password and all of <i>SensA's</i> features are yours. 
      </p>
      <h4>Use <i>SensA</i> without Registration</h4>
      <p>
        <i>SensA</i> is a free open-source software that may be accessed without registration. If you prefer to stay anonymous, just hit the green button
        <br>
        <a class="btn btn-large btn-success trial_button" style="margin:5% 29% 5% 30%;">Without Registration</a>
        <br>
        and you are good to go.
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</template>
